@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  @apply bg-gray-950;
}


.pt-header {
  @apply pt-[72px];
}